<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Catálogo de Livros</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/app.js}" defer></script>
</head>
<body>
<header>
    <nav class="menu">
        <a th:href="@{/}" class="logo">Catálogo📚</a>
        <ul>
            <li><a th:href="@{/}">Início</a></li>
            <li><a th:href="@{/lista}">Minha Lista</a></li>
            <li><a th:href="@{/adicionar}" class="btn-novo">Adicionar Livro</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="hero">
        <h1>Bem-vindo ao seu Catálogo Pessoal</h1>
        <p>Organize e avalie os livros que você já leu.</p>
    </section>

    <section class="content">
        <h2>Adicionados Recentemente</h2>

        <div id="recentes-container" class="book-grid">
            <p>Carregando livros recentes...</p>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Meu Catálogo de Livros</p>
</footer>
</body>
</html>
